# Backboard.io
BACKBOARD_API_KEY=

# Telegram
TELEGRAM_BOT_TOKEN=

# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Server
PORT=3000
